@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'sass:color';

.formulario {
    width: 100%;
    margin-top: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        border: none;
        padding: calc($separacion/4);
        border-radius: 1rem;
        
        &:disabled {
            background-color: color.adjust($burdeo, $lightness: 10%);
            color: $blanco;
            cursor: not-allowed;
        }
    }
}