@use 'variables' as *;

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: 0 0 calc($separacion / 2) 0 ;
    font-weight: 900;
    color: $blanco;
    text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
p {
    color: $blanco;
    font-size: 2rem;
}

a, label {
    font-size: 1.8rem;
}

.nombre-pagina {
    text-align: center;
    margin: 3rem 0;
    font-weight: $bold;
}

.descripcion-pagina {
    text-align: center;
}
